<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{block 'title'}} {{/block}}
    <!-- 引入bootstrap样式 -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- 引入首页样式 -->
    <link rel="stylesheet" href="../../public/css/home.css">
    <!-- 引入拍摄案例样式 -->
    <link rel="stylesheet" href="../../public/css/example.css">


    <!-- 引入jquery -->
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    {{block 'style'}} {{/block}}
</head>
<body>
    {{include '../_content/top.html'}}

    {{block 'content'}} {{/block}}

    {{include '../_content/foot.html'}}
</body>
    <!-- 引入首页js -->
    <script src="../../public/js/home.js"></script>
    <!-- 引入拍摄案例js -->
    <script src="../../public/js/example.js"></script>
    <script src="../../public/js/time.js"></script>
    {{block 'script'}} {{/block}}
</html>