{{extend './_layouts/layout.html'}} 


{{block 'title'}}
<title>多人博客-首页</title>
{{/block}}


 {{block 'style'}} {{/block}}

 {{block 'content'}}
        <!-- 我们 -->
        <div class="tab-pane" id="wo_men">
            <header id="weTop">
              <div class="wetop1">
                <img src="../public/img/kbackground101.png">
              </div>
              <div class="wetop2">
                <div class="wetu ">
                  <div>
                    <img src="../public/img/kbackground105.png">
                  </div>
                </div>
              </div>
            </header>
            
            <div class="jianjie">
              <p>
                优柿传媒成立于2003年，是一个以全面服务于综合传播网络，让营销跨越诸多媒体种类的视屏营销类公司。新颖而独特的创意、河南最大的影视摄像基地、4支专业跟组摄像灯光团队，让优柿与全国500强建立了合作伙伴关系，2017年累计帮助客户年销售额21.3亿元！
              </p>
              <p class="jp1"><img src="../public/img/klogo101.png"></p>
              <p>
                拓宽营销的深度与广度，为客户提供包括“品牌营销”、“媒介营销”、“场景营销”、“自有媒体”在内的全营销服务。联合央视、各大卫视、高铁广告、网大共同打造大数据生态平台，聚合客户、媒体、合作伙伴的海量数据资源，提升优柿全平台对消费者的洞察分析能力，全营销业务的协同发展，实现全营销业务的融合与贯通，为客户创造更大的价值。
              </p>
            </div>
            <div class="webody">
              <div style="text-align: center;"><img src="../public/img/kbackground103.png" ></div>  
              <div class="webc">
                <p class="wep1">四大资源为品牌腾飞助力</p>
                <p class="wep2">优柿传媒拥有央视以及各大卫视投放资源，并与央视《对话中国品牌》《影响力人物》栏目强强联合，为企业、品牌、产品打造央视级包装视频服务，提升企业高度，树立企业形象。</p>
                <p class="wep2">优柿传媒与河南电视台签署战略合作关系，被全国各大卫视评为“优秀合作伙伴”，并享有优先投放的权利。还能够为企业定制专属的活动、栏目，迅速抢占地方市场。</p>
                <p class="wep2">优柿传媒拥有京广沿线独家高铁广告资源，打造明星企业，助力企业融资上市。</p>
                <p class="wep2">优柿传媒拥有网大电影、电视剧广告软植入资源，海量新媒体全面推广，获客效果显著。</p>
                <p class="wep5">全方位推广</p>
                <p class="wep5">因科学所以更实效</p>
                <p class="wep6">现今优柿正在通过平台战略，拓宽营销的深度与广度，为客户提供包括“品牌营销”、“媒介营销”、“场景营销”、“自有媒体”在内的全营销服务。</p>
                <p class="wep6">
                  联合央视、各大卫视、高铁广告、网大共同打造大数据生态平台，聚合客户、媒体、合作伙伴的海量数据资源，提升优柿全平台对消费者的洞察分析能力，全营销业务的协同发展，实现全营销业务的融合与贯通，为客户创造更大的价值。
                </p>
                <p class="wep6">
                  企业理念：坚持创新、专业服务、共创价值、多方共赢的经营理念，大力改变过去“广告服务商”的急功近利的营销模式，推行“共存共赢”营销，提升专业服务水平，以“服务精益求精，合作诚信久远”赢得客户信赖，赢得未来，赢得市场。</span>
                </p>
                <p></p>
              </div>
            </div>
          </div>
      
 {{/block}}


 {{block 'script'}} {{/block}}