{{extend './_layouts/layout.html'}}


{{block 'title'}}
<title>多人博客-首页</title>
{{/block}}


{{block 'style'}}
<!-- 引入拍摄案例样式 -->
<link rel="stylesheet" href="../../public/css/example.css">

<style>
  .b>a {
    color: #29bc6b !important;
    border-bottom: 2px solid #29bc6b !important;
  }
  .bb{
      background-color: #29bc6b !important;
    }
</style>

{{/block}}

{{block 'content'}}
<div class="tab-pane" id="an_li">
  <!-- 大图 -->
  <section class="ys-banner">
    <div class="container-fluid">
      <img src="../public/img/星空.jpg" class="img-responsive">
    </div>
  </section>

  <!-- 全部作品 -->
  <section class="ys-works">
    <div class="container-fluid">
      <!-- 精品案例 -->
      <div class="row example">
        <div class="col-sm-6 col-sm-offset-3 min-box">
          <img src="../public/img/精品案例.png">
        </div>
      </div>
      <!-- 导航栏 -->
      <div class="navparents">
        <ul class="nav nav-tabs max-box container">
          <li class="active col-xs-2" value="{{g.f}}">

            <a href="#works" data-toggle="tab">全部作品</a>
          </li>
          <li class="col-xs-2" value="{{g.a}}">
            <a href="#movie" data-toggle="tab">微电影</a>
          </li>
          <li class="col-xs-2" value="{{g.b}}">
            <a href="#image" data-toggle="tab">形象片</a>
          </li>
          <li class="col-xs-2" value="{{g.c}}">
            <a href="#publicity" data-toggle="tab">宣传片</a>
          </li>
          <li class="col-xs-2" value="{{g.d}}">
            <a href="#TVC" data-toggle="tab">TVC</a>
          </li>
          <li class="col-xs-2" value="{{g.e}}">
            <a href="#shopping" data-toggle="tab">电视购物</a>
          </li>
        </ul>
      </div>

      <!-- 内容区 -->
      <!-- 全部作品区 -->
      <div class="tab-content">
        <div role="tabpanel" class="total tab-pane active" id="works">
          <ul id="post_list">

            <!-- 作品1 -->
            {{each quan1}}
            <li class="box1 col-xs-6 col-sm-4" onclick="clickExampleVideoItem(this)" data-video="{{$value.video}}">
              <div>
                <img src="{{$value.photo}}" class="img-responsive">
              </div>
              <div class="media el-not-show">
                <video src="{{$value.video}}" title="{{$value.tags}}"></video>
              </div>
              <div class="masking">
                <h2>{{$value.title}}</h2>
                <p>{{$value.address}}</p>
              </div>
              <div class="popup el-not-show">{{$value.tags}}</div>
            </li>
            {{/each}}
          </ul>
        </div>

        <!-- 微电影区 -->
        <div role="tabpanel" class="tab-pane" id="movie">
          <ul id="post_list">
            <!-- 作品1 -->
            {{each wei1}}
            <li class="box1 col-xs-6 col-sm-4" onclick="clickExampleVideoItem(this)" data-video="{{$value.video}}">
              <div>
                <img src="{{$value.photo}}" class="img-responsive">
              </div>
              <div class="media el-not-show">
                <video src="{{$value.video}}" title="{{$value.tags}}"></video>
              </div>
              <div class="masking">
                <h2>{{$value.title}}</h2>
                <p>{{$value.address}}</p>
              </div>
              <div class="popup el-not-show">{{$value.tags}}</div>
            </li>
            {{/each}}
          </ul>
        </div>

        <!-- 形象片区 -->
        <div role="tabpanel" class="tab-pane" id="image">
          <ul id="post_list">
            <!-- 作品1 -->
            {{each xing1}}
            <li class="box1 col-xs-6 col-sm-4" onclick="clickExampleVideoItem(this)" data-video="{{$value.video}}">
              <div>
                <img src="{{$value.photo}}" class="img-responsive">
              </div>
              <div class="media el-not-show">
                <video src="{{$value.video}}" title="{{$value.tags}}"></video>
              </div>
              <div class="masking">
                <h2>{{$value.title}}</h2>
                <p>{{$value.address}}</p>
              </div>
              <div class="popup el-not-show">{{$value.tags}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- 宣传片区 -->
        <div role="tabpanel" class="tab-pane" id="publicity">
          <ul id="post_list">
            <!-- 作品1 -->
            {{each xuan1}}
            <li class="box1 col-xs-6 col-sm-4" onclick="clickExampleVideoItem(this)" data-video="{{$value.video}}">
              <div>
                <img src="{{$value.photo}}" class="img-responsive">
              </div>
              <div class="media el-not-show">
                <video src="{{$value.video}}" title="{{$value.tags}}"></video>
              </div>
              <div class="masking">
                <h2>{{$value.title}}</h2>
                <p>{{$value.address}}</p>
              </div>
              <div class="popup el-not-show">{{$value.tags}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- TVC区 -->
        <div role="tabpanel" class="tab-pane" id="TVC">
          <ul id="post_list">
            <!-- 作品1 -->
            {{each TVC1}}
            <li class="box1 col-xs-6 col-sm-4" onclick="clickExampleVideoItem(this)" data-video="{{$value.video}}">
              <div>
                <img src="{{$value.photo}}" class="img-responsive">
              </div>
              <div class="media el-not-show">
                <video src="{{$value.video}}" title="{{$value.tags}}"></video>
              </div>
              <div class="masking">
                <h2>{{$value.title}}</h2>
                <p>{{$value.address}}</p>
              </div>
              <div class="popup el-not-show">{{$value.tags}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
        <!-- 电视购物 -->
        <div role="tabpanel" class="tab-pane" id="shopping">
          <ul id="post_list">
            <!-- 作品1 -->
            {{each dian1}}
            <li class="box1 col-xs-6 col-sm-4" onclick="clickExampleVideoItem(this)" data-video="{{$value.video}}">
              <div>
                <img src="{{$value.photo}}" class="img-responsive">
              </div>
              <div class="media el-not-show">
                <video src="{{$value.video}}" title="{{$value.tags}}"></video>
              </div>
              <div class="masking">
                <h2>{{$value.title}}</h2>
                <p>{{$value.address}}</p>
              </div>
              <div class="popup el-not-show">{{$value.tags}}</div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </section>



  <!-- 视频弹窗遮罩层 -->
  <section class="ys-mask">
    <div class="container-fluid">
      <!-- 遮罩层 -->
      <div class="video-mask  el-not-show">
        <!-- 黑色弹窗 -->
        <div class="video-container col-xs-10 col-xs-offset-1">
          <div class="video-min-container">
            <!-- 关闭弹窗 -->
            <span class="glyphicon glyphicon-remove-circle"></span>


            <!-- 大视频 -->
            <!-- TODO:这里可能要改,直接在video上写src可能会有浏览器兼容问题 -->
            <video id="big-video" class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
              <!-- <source type="video/mp4"> -->
            </video>




            <!-- 进度条 -->
            <div class="progressBar">
              <!-- 时间条 -->
              <div class="timeBar"></div>
            </div>
            <!-- 视频播放时间 -->
            <div class="progressTime">
              <!-- 视频当前播放时间 -->
              <span class="current">00:00</span> /
              <!-- 视频播放总时间 -->
              <span class="duration"></span>
              <!-- 全屏 -->
              <span class="glyphicon glyphicon-fullscreen"></span>
            </div>

            <!-- 大视频上面的遮罩层 -->
            <div class="video-control col-xs-12">
              <!-- 遮罩层上面的控件 -->
              <!-- 暂停控件 -->
              <span class="glyphicon glyphicon-play"></span>
              <!-- 播放上一个视频 -->
              <span class="glyphicon glyphicon-step-backward"></span>
              <!-- 播放下一个视频 -->
              <span class="glyphicon glyphicon-step-forward"></span>
              <!-- 遮罩层上的文字 -->
              <!-- <div class="video-control-words"> -->
              <dl class="col-xs-12 video-control-words">
                <dt>中国辣条好味道--佳龙造</dt>
                <dd>时间：2021-06-23 【TVC】</dd>
              </dl>
              <!-- </div> -->
            </div>




            <!-- 视频介绍 -->
            <div class="video-introduct col-xs-12">
              <dl class="col-xs-12">
                <dt>摘要</dt>
                <dd>中国辣条好味道--佳龙造</dd>
              </dl>
              <h4 class="hidden-xs"><span class="glyphicon glyphicon-globe"></span>其他视频门户渠道</h4>
              <ul class="clearfix hidden-xs">
                <li class="pull-left"><a href="http://">腾讯视频</a></li>
                <li class="pull-left"><a href="http://">微博</a></li>
                <li class="pull-left"><a href="http://">今日头条</a></li>
                <li class="pull-left"><a href="http://">土豆</a></li>
                <li class="pull-left"><a href="http://">优酷</a></li>
                <li class="pull-left"><a href="http://">A站</a></li>
                <li class="pull-left"><a href="http://">乐视视频</a></li>
                <li class="pull-left"><a href="http://">B站</a></li>
                <li class="pull-left"><a href="http://">搜狐视频</a></li>
                <li class="pull-left"><a href="http://">PPTV</a></li>
                <li class="pull-left"><a href="http://">爱奇艺</a></li>
                <li class="pull-left"><a href="http://">抖音</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>

</div>
{{/block}}


{{block 'script'}}
<script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<!-- 引入拍摄案例js -->
<script src="../public/js/example.js"></script>
<script src="../public/js/time.js"></script>
{{/block}}