{{extend './_layouts/layout.html'}}


{{block 'title'}}
<title>新闻动态</title>
{{/block}}


{{block 'style'}}
<link rel="stylesheet" href="public/css/xinwen.css">
<link rel="stylesheet" href="public/dongtai/bootstap/css/bootstrap.min.css">
{{/block}}

{{block 'content'}}


<!-- 动态 -->
<div class="tab-pane" id="dong_tai">
  <div style="width: 100%;" id="xinwen_dongtai">
    <img src="public/img/动态.png" class="dt_datu">
    <div class="news">
      <h2 class="col-xs-6 col-xs-offset-3 text-center dt_biaoti"><a href="#"></a></h2>

      <div class="container">
        <ul class="nav nav-tabs">
          <li class="col-xs-3  col-sm-2 col-sm-offset-3 col-xs-offset-1 active text-center"><a href="#quan_bu"
              data-toggle="tab">全部</a></li>
          <li class="col-xs-3 col-sm-2 text-center"><a href="#xinwen" data-toggle="tab">优柿新闻</a></li>
          <li class="col-xs-3 col-sm-2 text-center"><a href="#hangye" data-toggle="tab">行业动态</a></li>
        </ul>
      </div>
      <div class="tab-content">
        <div id="quan_bu" class="tab-pane active" role="tabpanel">
          <div class="row">
            {{each user_quanbu}}

            <a href="/dong_tai/{{$value._id.toString()}}" class="col-xs-12 col-sm-6 dt_kuang">
              <span class="dt_xianzhi">
                <img class="dt_zhaopian" src="{{$value.img}}" alt="">
              </span>
              <span class="dt_jeishao">
                <span class="dt_riqi"><b>{{$value.month}}.{{$value.day}}</b>{{$value.year}}</span>
                <span class="dt_wenzi">{{$value.name}}</span>
              </span>
            </a>

            {{/each}}
          </div>




        </div>
        <div id="xinwen" class="tab-pane" role="tabpanel">
          <div class="row">
            {{each user_xinwen}}

            <a href="/dong_tai/{{$value._id.toString()}}" class="col-xs-12 col-sm-6 dt_kuang">
              <span class="dt_xianzhi">
                <img class="dt_zhaopian" src="{{$value.img}}" alt="">
              </span>
              <span class="dt_jeishao">
                <span class="dt_riqi"><b>{{$value.month}}.{{$value.day}}</b>{{$value.year}}</span>
                <span class="dt_wenzi">{{$value.name}}</span>
              </span>
            </a>

            {{/each}}
          </div>


        </div>
        <div id="hangye" class="tab-pane" role="tabpanel">
          <div class="row">
            {{each user_hangye}}

            <a href="/dong_tai/{{$value._id.toString()}}" class="col-xs-12 col-sm-6 dt_kuang">
              <span class="dt_xianzhi">
                <img class="dt_zhaopian" src="{{$value.img}}" alt="">
              </span>
              <span class="dt_jeishao">
                <span class="dt_riqi"><b>{{$value.month}}.{{$value.day}}</b>{{$value.year}}</span>
                <span class="dt_wenzi">{{$value.name}}</span>
              </span>
            </a>

            {{/each}}
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div id="de"></div>
</div>

{{/block}}


{{block 'script'}}
<script src="public/dongtai/bootstap/js/bootstrap.min.js"></script>
{{/block}}