{{extend './_layouts/layout.html'}} 


{{block 'title'}}
<title>郑州广告片制作-抖音短视频-宣传片拍摄-郑州影视公司「优柿传媒」</title>
{{/block}}


 {{block 'style'}} {{/block}}

 {{block 'content'}} 
        <!-- 动态 -->
        <div class="tab-pane" id="dong_tai">
            <div style="width: 100%;" id="xinwen_dongtai">
              <img src="../动态/image/103e4a70ef217b9e7634f1d55c4c33b6.jpg" class="dt_datu">
              <div class="news">
                <h2 class="col-xs-6 col-xs-offset-3 text-center dt_biaoti"><a href="#"></a></h2>
      
                <div class="container">
                  <ul class="nav nav-tabs">
                    <li class="col-xs-3  col-sm-2 col-sm-offset-3 col-xs-offset-1 active text-center"><a href="#quan_bu"
                        data-toggle="tab">全部</a></li>
                    <li class="col-xs-3 col-sm-2 text-center"><a href="#xinwen" data-toggle="tab">优柿新闻</a></li>
                    <li class="col-xs-3 col-sm-2 text-center"><a href="#hangye" data-toggle="tab">行业动态</a></li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div id="quan_bu" class="tab-pane active" role="tabpanel">
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                  </div>
                  <div id="xinwen" class="tab-pane" role="tabpanel">
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                  </div>
                  <div id="hangye" class="tab-pane" role="tabpanel">
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                    <div class="row">
                      <a href="../动态/dt_1.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/30bf4a8cbd9b64c2d19e7c2387fe3110.png" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi"><b>09.27</b>2021</span>
                          <span class="dt_wenzi">企业宣传视频该如何拍摄呢？</span>
                        </span>
                      </a>
                      <a href="../动态/dt_2.html" class="col-xs-12 col-sm-6 dt_kuang">
                        <span class="dt_xianzhi">
                          <img class="dt_zhaopian" src="../动态/image/61880362189736fc05f0403988d5b324.jpg" alt="">
                        </span>
                        <span class="dt_jeishao">
                          <span class="dt_riqi">
                            <b>09.26</b>
                            2021
                          </span>
                          <span class="dt_wenzi">影响宣传片制作费用的因素有哪些呢？</span>
                        </span>
      
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="de"></div>
          </div>
      
 {{/block}}


 {{block 'script'}} {{/block}}