{{extend './_layouts/layout.html'}}


{{block 'title'}}
<title>郑州广告片制作-抖音短视频-宣传片拍摄-郑州影视公司「优柿传媒」</title>
{{/block}}


{{block 'style'}}
<style>
  .a>a {
    color: #29bc6b !important;
    border-bottom: 2px solid #29bc6b !important;
  }
</style>
{{/block}}

{{block 'content'}}
<div class="tab-pane active" id="home">

  <!-- 顶部视频 -->
  <div class="top-mp4">
    <video src="../public/video/video_bg.mp4 " autoplay="autoplay" loop="loop"></video>
  </div>

  <!-- 精品案例 -->
  <div class="jing_pin">
    <div class="jing_pin_title">
      <a href=""></a>
    </div>
    <div class="jing_pin_content">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#quan_bu" data-toggle="tab">全部作品</a></li>
        <li role="presentation"><a href="#wei_dian_ying" data-toggle="tab">微电影</a></li>
        <li role="presentation"><a href="#xing_xiang" data-toggle="tab">形象片</a></li>
        <li role="presentation"><a href="#xuan_chuan" data-toggle="tab">宣传片</a></li>
        <li role="presentation"><a href="#TVC" data-toggle="tab">TVC</a></li>
        <li role="presentation"><a href="#dian_shi" data-toggle="tab">电视购物</a></li>
      </ul>
      <div class="tab-content">
        <!-- 全部作品 -->
        <div class="tab-pane fade active in" id="quan_bu">
          <ul>
            {{each quan}}
            <li>
              <span>
                <p class="zhe">
                  <b>{{$value.title}}</b>
                  <span>{{$value.address}}</span>
                </p>
                <video src="{{$value.video}}" muted="muted" class="video"></video>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>


        <!-- 微电影 -->
        <div class="tab-pane fade" id="wei_dian_ying">
          <ul>
            {{each wei}}
            <li>
              <span>
                <p class="zhe">
                  <b>{{$value.title}}</b>
                  <span>{{$value.address}}</span>
                </p>
                <video src="{{$value.video}}" muted="muted" class="video"></video>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>


        <!-- 形象片 -->
        <div class="tab-pane fade" id="xing_xiang">
          <ul>
            {{each xing}}
            <li>
              <span>
                <p class="zhe">
                  <b>{{$value.title}}</b>
                  <span>{{$value.address}}</span>
                </p>
                <video src="{{$value.video}}" muted="muted" class="video"></video>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>



        <!-- 宣传片 -->
        <div class="tab-pane fade" id="xuan_chuan">
          <ul>
            {{each xuan}}
            <li>
              <span>
                <p class="zhe">
                  <b>{{$value.title}}</b>
                  <span>{{$value.address}}</span>
                </p>
                <video src="{{$value.video}}" muted="muted" class="video"></video>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>



        <!--TVC -->
        <div class="tab-pane fade" id="TVC">
          <ul>
            {{each TVC}}
            <li>
              <span>
                <p class="zhe">
                  <b>{{$value.title}}</b>
                  <span>{{$value.address}}</span>
                </p>
                <video src="{{$value.video}}" muted="muted" class="video"></video>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>


        <!-- 电视购物 -->
        <div class="tab-pane fade" id="dian_shi">
          <ul>
            {{each dian}}
            <li>
              <span>
                <p class="zhe">
                  <b>{{$value.title}}</b>
                  <span>{{$value.address}}</span>
                </p>
                <video src="{{$value.video}}" muted="muted" class="video"></video>
              </span>
            </li>
            {{/each}}
          </ul>
        </div>

      </div>
    </div>
    <!-- 更多 -->
    <div class="jing_pin_more">
      <a href="">查看更多精品案例</a>
    </div>
  </div>


  <!-- 新闻动态 -->
  <div class="xin_wen">
    <div class="xin_wen_title">
      <a href=""></a>
    </div>
    <div class="xin_wen_content">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#news" data-toggle="tab">优柿新闻</a></li>
        <li role="presentation"><a href="#hang_ye" data-toggle="tab">行业动态</a></li>
      </ul>

      <!-- 优柿新闻 -->
      <div class="tab-content  fang_da">
        <div class="tab-pane active fade in" id="news">
          <ul>
            <li>
              <span>
                <h3>09.30</h3>
                <h5>2021</h5>
              </span>
              <p>学校宣传片拍摄主要有哪些类型？</p>
            </li>
            <li>
              <span>
                <h3>09.28</h3>
                <h5>2021</h5>
              </span>
              <p> 企业宣传片制作的意义</p>
            </li>
          </ul>

          <ul>
            <li>
              <span>
                <h3>09.30</h3>
                <h5>2021</h5>
              </span>
              <p>学校宣传片拍摄主要有哪些类型？</p>
            </li>
            <li>
              <span>
                <h3>09.28</h3>
                <h5>2021</h5>
              </span>
              <p> 企业宣传片制作的意义</p>
            </li>
          </ul>
        </div>
        <!-- 行业动态 -->
        <div class="tab-pane fade" id="hang_ye">
          <ul>
            <li>
              <span>
                <h3>09.30</h3>
                <h5>2021</h5>
              </span>
              <p>学校宣传片拍摄主要有哪些类型？</p>
            </li>
            <li>
              <span>
                <h3>09.28</h3>
                <h5>2021</h5>
              </span>
              <p> 企业宣传片制作的意义</p>
            </li>
          </ul>

          <ul>
            <li>
              <span>
                <h3>09.30</h3>
                <h5>2021</h5>
              </span>
              <p>学校宣传片拍摄主要有哪些类型？</p>
            </li>
            <li>
              <span>
                <h3>09.28</h3>
                <h5>2021</h5>2021
              </span>
              <p> 企业宣传片制作的意义</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 更多 -->
    <div class="xin_wen_more">
      <a href="">查看更多新闻动态</a>
    </div>
  </div>


  <!-- 关于我们 -->
  <div class="guan_yu">
    <div class="guan_yu_title">
      <a href=""></a>
    </div>
    <div class="guan_yu_content">
      <img src="../public/img/about.jpg" alt="">
      <div class="text">
        <h2>河南优柿文化传媒有限公司</h2>
        <p>
          优柿传媒成立于2003年，是一个以全面服务于综合传播网络，让营销跨越诸多媒体种类的视屏营销类公司。新颖而独特的创意、河南最大的影视摄像基地、4支专业跟组摄像灯光团队，让优柿与全国500强建立了合作伙伴关系，2017年累计帮助客户年销售额21.3亿元！
        </p>
        <p>
          拓宽营销的深度与广度，为客户提供包括“品牌营销”、“媒介营销”、“场景营销”、“自有媒体”在内的全营销服务。联合央视、各大卫视、高铁广告、网大共同打造大数据生态平台，聚合客户、媒体、合作伙伴的海量数据资源，提升优柿全平台对消费者的洞察分析能力，全营销业务的协同发展，实现全营销业务的融合与贯通，为客户创造更大的价值。
        </p>
      </div>
    </div>
    <div class="guan_yu_more">
      <a href="">查看更多</a>
    </div>
  </div>
</div>
{{/block}}


{{block 'script'}}
<!-- 引入bootstrap -->
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
{{/block}}