{{extend './_layouts/layout.html'}}


{{block 'title'}}
<title>多人博客-首页</title>
{{/block}}
<!--引入框架-->
<!--引入品牌案列样式-->>

{{block 'style'}}
<link rel="stylesheet" href="../../public/css/common.css">
<link rel="stylesheet" href="../../public/css/layui.css">
<link rel="stylesheet" href="../../public/css/brand.css">
<link rel="stylesheet" href="../../public/css/respond.css">
<link rel="stylesheet" href="../public/css/owl.carousel.min.css">


<style>
  .c>a {
    color: #29bc6b !important;
    border-bottom: 2px solid #29bc6b !important;
  }
  .cc{
      background-color: #29bc6b !important;
    }
</style>

{{/block}}

{{block 'content'}}
[
<!-- {
    _id: new ObjectId("616e6758951b364a04e20aed"),
    name: '正弘物业',
    picture: '../public/img/zh2.png',
    wenzi: '河南正弘物业管理有限公司成立于2002年9月，注册资本550万元，国家一级资质、中国物业管理综合实力百强企业、郑州市物业服 
务品牌'
  },
  {
    _id: new ObjectId("616e6758951b364a04e20aee"),
    name: '吊儿郎当',
    picture: '../public/img/drld2.png',
    wenzi: '优柿传媒：“吊儿郎当酒”视频广告'
  },
  {
    _id: new ObjectId("616e6758951b364a04e20aef"),
    name: '粮之春',
    picture: '../public/img/lzc2.png',
    wenzi: '优柿传媒：“粮之春酒业”视频广告'
  },
  {
    _id: new ObjectId("616e6758951b364a04e20af0"),
    name: '天杞园',
    picture: '../public/img/tqy2.png',
    wenzi: '优柿传媒：“天杞园’24k欣杞粉”视频广告'
  },
  {
    _id: new ObjectId("616e6758951b364a04e20af1"),
    name: '同碗福',
    picture: '../public/img/hjm2.png',
    wenzi: '优柿传媒：“同碗福’火鸡面”视频广告'
  },
  {
    _id: new ObjectId("616e6758951b364a04e20af2"),
    name: '云小白',
    picture: '../public/img/yxb2.png',
    wenzi: '优柿传媒：“云小白”视频广告'
  }
] -->
<div class="tab-pane" id="pin_pai">
  <section class="sub_banner"><img src="../public/img/pgy.jpg" /></section>

  <section class="brand">
    <h2><a href="pin_pai"></a></h2>
    <h3>
      <a href="pin_pai" data-tid="2">全部作品</a> <a href="pin_pai" data-tid="12">品牌传播</a>
    </h3>
    <div class="list clearfix">
      <div class="owl_case owl-carousel clearfix">
        <div class="item layui-row layui-col-space22 clearfix" id="items_2">
          {{each Pinpai}}
          <a href="/topic/{{$value._id.toString()}}" target="_blank" title="{{$value.name}}"
            class="layui-col-xs6 layui-col-sm4">
            <span class="thumb">
              <img class="owl-lazy" data-src="{{$value.picture}}" alt="{{$value.name}}">
              <span class="info">
                <span class="title">{{$value.name}}</span>
                <span class="desc">{{$value.wenzi}}</span>
              </span>
            </span>
          </a>
          {{/each}}
        </div>
        <div class="item layui-row layui-col-space22 clearfix" id="items_12">
          {{each Pinpai}}
          <a href="/topic/{{$value._id.toString()}}" target="_blank" title="{{$value.name}}"
            class="layui-col-xs6 layui-col-sm4">
            <span class="thumb">
              <img class="owl-lazy" data-src="{{$value.picture}}" alt="{{$value.name}}">
              <span class="info">
                <span class="title">{{$value.name}}</span>
                <span class="desc">{{$value.wenzi}}</span>
              </span>
            </span>
          </a>
          {{/each}}
        </div>
      </div>
      <div class="loading"><span></span><span></span><span></span><span></span><span></span><span></span></div>
  </section>
</div>

{{/block}}
{{block 'script'}}
<script src="../public/js/jquery-1.9.1.min.js"></script>
<script src="../public/js/owl.carousel.min.js"></script>
<script>
  $(function ($) {
    var owl_case = $('.owl_case');
    owl_case.owlCarousel({
      items: 1,
      dots: false,
      autoHeight: true,
      lazyLoad: true,
      animateOut: 'fadeOut',
      pullDrag: false,
      onChanged: function (e) {
        $('section.brand > h3 a:eq(' + parseInt(e.item.index) + ')').addClass('on').siblings('a').removeClass('on');
      },
    });
    $('section.brand > h3 a').click(function (event) {
      owl_case.trigger('to.owl.carousel', [$(this).index(), 300]);
      return false;
    });

  })
</script>
{{/block}}

</html>