{{extend './_layouts/layout.html'}} 


{{block 'title'}}
<title>多人博客-首页</title>
{{/block}}


 {{block 'style'}} {{/block}}

 {{block 'content'}} 
 <div class="tab-pane" id="pin_pai">
    <section class="sub_banner"><img src="../品牌/images/89dac7af963b5035c649c99a95670469.jpg" /></section>

    <section class="brand">
      <h2><a href="../品牌/2.html"></a></h2>
      <h3>
        <a href="../品牌/2.html" data-tid='2'>全部作品</a> <a href="12.html" data-tid="12">品牌传播</a>
      </h3>
      <div class="list clearfix">
        <div class="owl_case owl-carousel clearfix">
          <div class="item layui-row layui-col-space22 clearfix" id="items_2">
            <a href="../品牌/98.html" target="_blank" title="正弘物业" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/1aeb2acca01afbbf7c10b409593570e1.png" alt="正弘物业">
                <span class="info">
                  <span class="title">正弘物业</span>
                  <span class="desc">河南正弘物业管理有限公司成立于2002年9月，注册资本550万元，国家一级资质、中国物业管理综合实力百强企业、郑州市物业服务品牌</span>
                </span>
              </span>
            </a>
            <a href="../品牌/45.html" target="_blank" title="吊儿郎当" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/5f3732c0c6bc36ccf4b15ede8d575fc9.png" alt="吊儿郎当">
                <span class="info">
                  <span class="title">吊儿郎当</span>
                  <span class="desc">优柿传媒：“吊儿郎当酒”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/23.html" target="_blank" title="粮之春" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/54cdbc1233f648b996cc48bf5c331a03.png" alt="粮之春">
                <span class="info">
                  <span class="title">粮之春</span>
                  <span class="desc">优柿传媒：“粮之春酒业”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/22.html" target="_blank" title="天杞园" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/499d427d97fbd8caa1fd706066c1cf83.png" alt="天杞园">
                <span class="info">
                  <span class="title">天杞园</span>
                  <span class="desc">优柿传媒：“‘天杞园’24k欣杞粉”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/21.html" target="_blank" title="同碗福" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/f052b2a9aaf102badeeca70455fa8d9e.png" alt="同碗福">
                <span class="info">
                  <span class="title">同碗福</span>
                  <span class="desc">优柿传媒：“‘同碗福’火鸡面”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/20.html" target="_blank" title="云小白" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/4776c5cf8875c439b6fc0e4a61eb2532.png" alt="云小白">
                <span class="info">
                  <span class="title">云小白</span>
                  <span class="desc">优柿传媒：“云小白”视频广告</span>
                </span>
              </span>
            </a>
          </div>
          <div class="item layui-row layui-col-space22 clearfix" id="items_12">
            <a href="../品牌/98.html" target="_blank" title="正弘物业" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/1aeb2acca01afbbf7c10b409593570e1.png" alt="正弘物业">
                <span class="info">
                  <span class="title">正弘物业</span>
                  <span class="desc">河南正弘物业管理有限公司成立于2002年9月，注册资本550万元，国家一级资质、中国物业管理综合实力百强企业、郑州市物业服务品牌</span>
                </span>
              </span>
            </a>
            <a href="../品牌/45.html" target="_blank" title="吊儿郎当" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/5f3732c0c6bc36ccf4b15ede8d575fc9.png" alt="吊儿郎当">
                <span class="info">
                  <span class="title">吊儿郎当</span>
                  <span class="desc">优柿传媒：“吊儿郎当酒”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/23.html" target="_blank" title="粮之春" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/54cdbc1233f648b996cc48bf5c331a03.png" alt="粮之春">
                <span class="info">
                  <span class="title">粮之春</span>
                  <span class="desc">优柿传媒：“粮之春酒业”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/22.html" target="_blank" title="天杞园" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/499d427d97fbd8caa1fd706066c1cf83.png" alt="天杞园">
                <span class="info">
                  <span class="title">天杞园</span>
                  <span class="desc">优柿传媒：“‘天杞园’24k欣杞粉”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/21.html" target="_blank" title="同碗福" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/f052b2a9aaf102badeeca70455fa8d9e.png" alt="同碗福">
                <span class="info">
                  <span class="title">同碗福</span>
                  <span class="desc">优柿传媒：“‘同碗福’火鸡面”视频广告</span>
                </span>
              </span>
            </a>
            <a href="../品牌/20.html" target="_blank" title="云小白" class="layui-col-xs6 layui-col-sm4">
              <span class="thumb">
                <img class="owl-lazy" data-src="../品牌/images/4776c5cf8875c439b6fc0e4a61eb2532.png" alt="云小白">
                <span class="info">
                  <span class="title">云小白</span>
                  <span class="desc">优柿传媒：“云小白”视频广告</span>
                </span>
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="loading"><span></span><span></span><span></span><span></span><span></span><span></span></div>
    </section>
  </div>

 {{/block}}


 {{block 'script'}} {{/block}}