{{extend './_layouts/layout.html'}} 


{{block 'title'}}
<title>多人博客-首页</title>
{{/block}}



 {{block 'style'}} {{/block}}

 {{block 'content'}}
        <!-- 招聘 -->
        <div class="tab-pane" id="zhao_pin">
            <div class="bkimg">
              <img src="../public/img/zhaopin101.jpg">
            </div>
            <div class="zpimg">
              <div class="zptu  ">
                <img src="../public/img/zhaopin102.png">
              </div>
            </div>
    
            <div class="zpxx">
              <ul class="u1 ">
                <li class="col-xs-2 col-md-2">招聘职位</li>
                <li class="col-xs-2 col-md-2">招聘部门</li>
                <li class="col-xs-2 col-md-2">工作地点</li>
                <li class="col-xs-2 col-md-2">发布日期</li>
                <li class="col-xs-2 col-md-2">职位申请</li>
              </ul>
              <ul class="u2">
                <li class="c1 col-xs-2">新媒体运营</li>
                <li class="c2 col-xs-2">新媒体部</li>
                <li class="c3 col-xs-2">郑州市中原区科学大道中原广告产业园</li>
                <li class="c4 col-xs-2">2018-05-21</li>
                <li class="c5 col-xs-2"><a href="javascript:void(0)" onclick="one()">查看详情</a>
                  <div id="light" class=" zpa1">
                    <div class="zpat1">
                      <span class="span01">新媒体运营部(新媒体部)</span><br />
                      <span class="span02">申请岗位发送邮件至"86829056@qq.com"</span>
                      <a href="javascript:void(0)" onclick="two()"><span class="close"></span></a>
                    </div>
                    <div class="zpat2">
                      <div class="zpat2a">
                        <span class="span01">岗位职责</span>
                        <div style="  height:280px;">
                          <!--style=" overflow-y:auto;-->
                          <p>1、更新及维护企业微博、微信公众号，增加粉丝数，提高关注度；</p>
                          <p>2、负责微博、微信运营策略的制定及执行与网站相关部门配合，定期策划并执行微信营销线上及线下互动活动；<br /></p>
                          <p>3、根据公司项目推广需求，撰写相应文案，建立有效运营手段提升用户活跃度；</p>
                          <p>4、利用平台推广公司产品和活动</p>
                          <p>5、挖掘和分析网友使用习惯、情感及体验感受，即时掌握新闻热点，能够完成专题策划、执行；"</p>
                        </div>
                      </div>
                      <div class="zpat2b">
                        <span class="span01">岗位要求</span>
                        <div style=" height:280px;">
                          <p>1、本科以上学历，广告学或市场营销专业优先，可接收应届生；</p>
                          <p>2、有较强的文字功底，能结合公司项目撰写出符合市场需要的文案</p>
                          <p>3、熟悉新媒体平台的各种运营方式和推广手段，能够根据公司的需求独立策划推广方案并执行。</p>
                        </div>
                      </div>
      
                    </div>
                </li>
              </ul>
              <ul class="u3">
                <li>广告文案策划</li>
                <li>文案部</li>
                <li>郑州市中原区科学大道中原广告产业园</li>
                <li>2018-05-21</li>
                <li><a href="javascript:void(0)" onclick="one0()">查看详情</a> </li>
                <div id="light0" class="zpa2">
                  <div class="rowz2">
                    <div class="col-xs-12  z2top">
                      <p class="z2p1">新媒体运营部(新媒体部)</p>
                      <p class="z2p2">申请岗位发送邮件至"86829056@qq.com"</p>
                    </div>
                    <div class="col-xs-12 col-md-6 z2right">
                      <p class="p1">岗位职责</p>
                      <p>1、负责电视专题解说词、形象宣传片、政府汇报片、微电影的策划创作，能独立完成文案的撰写；</p>
                      <p>2、负责项目的前期调研、市场定位、产品定位、营销策划以及项目的推广策划工作；<br /></p>
                      <p>3、独立完成创意策划、活动文案、项目营销推广文案撰写工作；</p>
                      <p>4、收集整理节目素材，把握节目风格，撰写脚本；</p>
                    </div>
                    <div class="col-xs-12 col-md-6 z2left">
                      <span class="span01">岗位要求</span>
                      <p>1、广播电视编导、影视导演、戏剧影视文学、广告艺术等相关专业；</p>
                      <p>2、有独立影视剧本、脚本和文案编辑、整合、撰写能力，有成功案例和工作经验的优先。</p>
                      <p>3、文字功底扎实，影视语言文字和影视镜头语言运用新颖得体；</p>
                      <p>4、有较强的策划分析能力以及独立策划执行、拍摄和制作。具备清晰的逻辑思维，讲述、创新创作能力和现场捕捉能力；</p>
                      <p>5、良好的职业素养、团队协作精神、沟通能力和承压能力。</p>
                    </div>
                  </div>
                  <a href="javascript:void(0)" onclick="two0()"><span class="close"></span></a>
                </div>
      
      
              </ul>
              <ul class="u4">
                <li>市场业务开拓人员</li>
                <li>市场部</li>
                <li>郑州市中原区科学大道中原广告产业园</li>
                <li>2018-05-21</li>
                <li><a href="javascript:void(0)" onclick="one1()">查看详情</a></li>
                <div id="light1" class="zpa3" style=" overflow-y:auto;">
                  <div class="rowz3">
                    <div class="col-xs-12  z3top">
                      <p class="z3p1">市场业务开拓人员(市场部)</p>
                      <p class="z3p2">申请岗位发送邮件至"86829056@qq.com"</p>
                    </div>
                    <div class="col-xs-12 col-md-6 z3right ">
                      <p class="p1">岗位职责</p>
                      <p>1、受理及主动电话客户，能够及时发现客户问题并给到正确和满意的回复；</p>
                      <p>2、与客户建立良好的联系，熟悉及挖掘客户需求，并对客户进行系统的应用培训；</p>
                      <p>3、具备处理问题、安排进展、跟进进程、沟通及疑难问题服务的意识跟能力，最大限度的提高客户满意度。遇到不能解决的问题按流程提交相关人员或主管处理，并跟踪进展直至解决；</p>
                      <p>4、具备一定的销售能力，针对公司现有的客户进行营销，让客户接受更为广泛的网络产品，达到最好的网络营销的效果。</p>
                      <p>5、不断接受公司的各项业务和技能提升培训。</p>
                    </div>
                    <div class="col-xs-12 col-md-6 z3left">
                      <p class="p1">岗位要求</p>
                      <p>1、专科学历，有一定客户服务工作经验或销售经验，有一定的客户服务知识和能力 。</p>
                      <p>2、计算机操作熟练，office办公软件使用熟练，有一定的网络知识基础，熟练使用Photoshop等制图工具者优先考虑。</p>
                      <p>3、要求一定要有“客户为先”的服务精神，一切从帮助客户、满足客户角度出发。</p>
                      <p>4、性格要求沉稳、隐忍，善于倾听，有同理心，乐观、积极。普通话标准、流利，反应灵敏。</p>
                    </div>
                  </div>
                  <a href="javascript:void(0)" onclick="two1()"><span class="close"></span></a>
                </div>
      
              </ul>
              <ul class="u5">
                <li>摄像师</li>
                <li>影视部</li>
                <li>郑州市中原区科学大道中原广告产业园</li>
                <li>2018-05-21</li>
                <li> <a href="javascript:void(0)" onclick="one11()">查看详情</a> </li>
                <div id="ligh" class="zpa4">
                  <div class="rowz4">
                    <div class="col-xs-12  z4top">
                      <p class="z4p1">摄影师(影视部)</p>
                      <p class="z4p2">申请岗位发送邮件至"86829056@qq.com"</p>
                    </div>
                    <div class="col-xs-12 col-md-6 z4right">
                      <p class="p1">岗位职责</p>
                      <p>1、负责公司形象宣传片、视频广告、微电影、活动及会议等的拍摄制作</p>
                      <p>2、负责产品展示视频拍摄制作</p>
                      <p> 3、配合后期完成相关的视频剪辑，特效制作及格式转换等</p>
                    </div>
                    <div class="col-xs-12 col-md-6 z4left">
                      <p class="p1">岗位要求</p>
                      <p>1、摄影摄像或影视制作相关专业者优先</p>
                      <p>2、两年以上摄影摄像和后期制作工作经验</p>
                      <p>3、熟练运用主流专业摄像机和单反进行各种视频拍摄</p>
                      <p>4、熟悉后期编辑、影视特效，掌握相关编辑制作软件。</p>
                      <p>5、具备良好的审美意识和洞察力，富有镜头感，可驾驭复杂的拍摄现场</p>
                      <p>6、对现场布光调光有基本认识，熟练掌握灯光运用。</p>
                      <p>7、为人踏实认真，刻苦勤奋、具备良好的敬业精神和团队意识。</p>
                      <p> 8、有视频制作工作经验优先。</p>
                    </div>
                  </div>
                  <a href="javascript:void(0)" onclick="two11()"><span class="close"></span></a>
                </div>
      
              </ul>
            </div>
          </div>
 {{/block}}


 {{block 'script'}} {{/block}}