html,
body {
  background: #151620;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Source Han Sans CN', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', '微软雅黑', 'Microsoft YaHei UI', '黑体', '宋体', 'arial', 'sans-serif';
  color: #333;
  min-width: 320px;
  height: 100%;
}
a {
  border: none;
  outline: none;
  color: #333;
  text-decoration: none;
  -webkit-transition: color 0.1s;
  -moz-transition: color 0.1s;
  -o-transition: color 0.1s;
  transition: color 0.1s;
}
a:hover {
  color: #29bc6b;
}
img {
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
ul,
li,
dl,
ol,
p,
table,
td,
dd {
  padding: 0;
  margin: 0;
}
ul,
li,
ol,
dl,
dt,
dd {
  list-style: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w1400 {
  max-width: 1400px;
  margin: 0 auto;
}
.w1200 {
  max-width: 1200px;
  margin: 0 auto;
}
.w100 {
  width: 100%;
}
.center {
  margin: 0 auto;
}
.iln {
  display: inline;
}
.ibk {
  display: inline-block;
}
.bk {
  display: block;
}
.p_rel,
.p-rel {
  position: relative;
}
.p_abs,
.p-abs {
  position: absolute;
}
.none {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}
.cut {
  overflow: hidden;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
div.pages li a,
div.pages li span {
  display: block;
  padding: 0 11px;
  height: 100%;
  color: #a5a5a5;
  font-size: 12px;
}
div.pages li.active,
div.pages li:not(.disabled):hover {
  background: #2c92f8;
  border-color: #2c92f8;
}
div.pages li.active a,
div.pages li.active span,
div.pages li:not(.disabled):hover a {
  color: #fff;
}
div.pages li.disabled a {
  color: #ccc;
}
section.sub_banner {
  width: 100%;
}
section.sub_banner img {
  display: block;
  width: 100% !important;
  height: auto !important;
}
body > div.mask {
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 899;
}
div.loading,
div.nomore {
  padding: 90px 0 0;
  overflow: hidden;
  text-align: center;
  display: none;
}
div.loading span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #d4d4d4;
  font-size: 0;
  margin: 0 7px;
}
div.loading span:nth-child(1) {
  -webkit-animation: loading 1.2s 0s infinite ease-in-out;
  animation: loading 1.2s 0s infinite ease-in-out;
}
div.loading span:nth-child(2) {
  -webkit-animation: loading 1.2s 200ms infinite ease-in-out;
  animation: loading 1.2s 200ms infinite ease-in-out;
}
div.loading span:nth-child(3) {
  -webkit-animation: loading 1.2s 400ms infinite ease-in-out;
  animation: loading 1.2s 400ms infinite ease-in-out;
}
div.loading span:nth-child(4) {
  -webkit-animation: loading 1.2s 600ms infinite ease-in-out;
  animation: loading 1.2s 600ms infinite ease-in-out;
}
div.loading span:nth-child(5) {
  -webkit-animation: loading 1.2s 800ms infinite ease-in-out;
  animation: loading 1.2s 800ms infinite ease-in-out;
}
div.loading span:nth-child(6) {
  -webkit-animation: loading 1.2s 1000ms infinite ease-in-out;
  animation: loading 1.2s 1000ms infinite ease-in-out;
}
@keyframes loading {
  0% {
    background: #d4d4d4;
  }
  50% {
    background: #a8a8a8;
  }
  100% {
    background: #d4d4d4;
  }
}
@-webkit-keyframes loading {
  0% {
    background: #d4d4d4;
  }
  50% {
    background: #a8a8a8;
  }
  100% {
    background: #d4d4d4;
  }
}
div.tags {
  margin-top: 18px;
  height: 22px;
  /*overflow: hidden;*/
}
div.tags a {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-right: 10px;
  color: #a2a2a7;
}
