<div class="foot">
    <div class="foot_top">
      <div class="box1">
        <ul>
          <li class="foot_first_li">河南优柿文化传媒有限公司</li>
          <li><img src="../../public/img/定位.png" alt=""> 影视公司地址：郑州中原国家广告产业园4号楼</li>
          <li><img src="../../public/img/电话.png" alt=""> 电话：13203859655 13608679701</li>
          <li><img src="../../public/img/邮箱.png" alt=""> 邮箱：86829056@qq.com</li>
          <li><img src="../../public/img/邮编.png" alt=""> 邮编：450000</li>
        </ul>
      </div>
      <div class="box2">
        <ul>
          <li class="foot_first_li">其他视频门户频道</li>
          <li>
            <a href="">腾讯视频</a>
            <a href="">微博</a>
          </li>
          <li>
            <a href="">今日头条</a>
            <a href="">土豆</a>
          </li>
          <li>
            <a href="">优酷</a>
            <a href="">A站</a>
          </li>
          <li>
            <a href="">乐视视频</a>
            <a href="">B站</a>
          </li>
          <li>
            <a href="">搜狐视频</a>
            <a href="">PPTV</a>
          </li>
          <li>
            <a href="">爱奇艺</a>
            <a href="">抖音</a>
          </li>
        </ul>
      </div>
      <div class="box3">
        <img src="../../public/img/二维码.png" alt="">
      </div>
    </div>
    <div class="foot_bottom">
      <p>Copyright@2018河南优柿文化传媒有限公司 版权所有 <a href="">豫ICP备18668808号-3</a></p>
      <p>郑州影视公司【优柿文化传媒】是一家懂营销的影视广告公司，主要经营郑州宣传片拍摄、广告片、微电影制作等业务</p>
    </div>
  </div>