 <!-- 导航栏标签页 -->
 <div class="dao_hang ">
  <a href="#" class="logo">
    <img src="../../public/img/logo.png" alt="">
  </a>
  <div class="tab_select">
    <ul class="nav nav-tabs">
      <li role="presentation" class="a"><a href="/" >主页</a></li>
      <li role="presentation" class="b"><a href="an_li">拍摄制作案例</a></li>
      <li role="presentation" class="c"><a href="pin_pai">品牌传播</a></li>
      <li role="presentation" class="d"><a href="dong_tai">动态</a></li>
      <li role="presentation" class="e"><a href="wo_men">我们</a></li>
      <li role="presentation" class="f"><a href="zhao_pin" >招聘</a></li>
      <li role="presentation" class="g"><a href="lian_xi">联系</a></li>
    </ul>
    <a href="#" class="tel"><img src="../../public/img/电话.png" alt=""> 13608679701</a>
  </div>
  <div class="sou ">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="请输入搜索关键字">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">
          <img src="../../public/img/sousuo.ico" alt="">
        </button>
      </span>
    </div>
  </div>
  <div id="zhan">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div id="shou">
    <span>/</span>
    <span id="span">\</span>
  </div>
</div>
<!-- *******************************************************************************************************************************-->
<div id="dao_hang1">
  <ul class="nav nav-tabs">
    <li role="presentation" class="aa"><a href="/">主页</a></li>
    <li role="presentation"class="bb"><a href="an_li">拍摄制作案例</a></li>
    <li role="presentation"class="cc"><a href="pin_pai" >品牌传播</a></li>
    <li role="presentation"class="dd"><a href="dong_tai" >动态</a></li>
    <li role="presentation"class="ee"><a href="wo_men">我们</a></li>
    <li role="presentation"class="ff"><a href="zhao_pin">招聘</a></li>
    <li role="presentation"class="gg"><a href="lian_xi" >联系</a></li>
    <li role="presentation"><a href="#">13608679701</a></li>
  </ul>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="请输入搜索关键字">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <img src="../../public/img/sousuo.ico" alt="">
      </button>
    </span>
  </div>
</div>